body
{
	font-family: sans-serif;
}

#navigation a
{
	display: block;
	float: left;
	width: 8em;
	color: #EEEEEE;
	background: gray;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	padding: 0.5em 1em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

#navigation a:hover, #navigation a.current
{
	color: #EEEEEE;
	background-color: #003366;
}

#content
{
	clear: both;
	margin-top: 1em;	
	padding: 0.5em 1em;
	width: 50em;
	line-height: 1.5;
}

h1
{
	font-size: 1.5em;
}

h2
{
	margin-top: 2em;
	font-size: 1em;
}

h3
{
	font-size: 1em;
	font-style: italic;
}

label
{
	display: block;
	float: left;
	width: 5em;
	line-height: 1;
}

label, input, textarea
{
	margin-bottom: 1em;
}

#footer
{
	padding: 0.5em 1em;
	font-size: smaller;
}
